# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=isi_dengan_service_role_key_anda_dari_dashboard_supabase

# Registration Access Codes
ADMIN_INVITE_CODE=ISI_KODE_RAHASIA_DI_SINI
SALES_INVITE_CODE=ISI_KODE_RAHASIA_DI_SINI
DEFAULT_RESET_PASSWORD=isi_default_password
