# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=isi_dengan_service_role_key_anda_dari_dashboard_supabase

# Registration Access Codes
ADMIN_INVITE_CODE=YOSMA-ADMIN-2026
SALES_INVITE_CODE=YOSMA-SALES-2026

